@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

html {
  margin: 0;
  padding: 0;
  max-width: 1024px;
  margin: auto;
  font-family: 'Philosopher', sans-serif;
}

body {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
}

#banner {
  display: block;
  height: auto;
  width: auto;
  padding: 0.2em 0;
  text-align: center;
  vertical-align: middle;
  background-color: #326;
  color: #fff;
}

#banner h1 {
  font-style: italic;
}

#header #links {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0 25%;
  background-color: #113;
}

h1,h2 {
  font-family: 'Katibeh', cursive;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 1px #101010;
}

h2 {
  font-size: 1.8rem;
  text-shadow: 2px 2px 1px #101010;
}

p {
  text-justify: inter-character;
  text-align: justify;
  font-size: 1.1rem;
}

p.block:first-letter {
  font-size: 3em;
  line-height: 1em;
  float: left;
  padding: 2px;
}
p.block:first-line {
  line-height: 1.5rem;
  padding: 0px;
}
*.strong {
  font-weight: bold;
}

ul.projects {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.projects li {
  background-color: #222;
  margin: 1rem;
  padding: 1rem;
  clear:left;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas:
    "image description"
    "image footer";
}
ul.projects li img {
  grid-area: image;
  height: 10rem;
  width: 10rem;
  margin: 1.7em auto 0 auto;
}
ul.projects li p {
  padding-left: 12px;
  grid-area: description;
}
ul.projects li p.links {
  grid-area: footer;
}


a {
  font-size: 1em;
  color: #bbf;
  text-decoration: underline;
}

a:visited {
  color: #76c;
}

footer {
  position: relative;
  bottom: 0px;
  padding: 2rem;
  font-size: 0.8em;
}

#main {
  padding: 2rem;
}


@media screen and (min-width: 769px) {
  #name>span {
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  #name>span {
    display: none;
  }
  #name::before {
    content: "jcgollnick.vip";
  }
  ul.projects li {
    grid-template-columns: 100%;
    grid-template-areas:
      "image"
      "description"
      "footer";
  }
  ul.projects li img {
    margin: 0 auto;
  }
}
